{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contacto.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
{% endblock %}

{% block content %}
    <div class="row"> 
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Estas son algunas formas para contactarme por celular o correro electrónico:</p>
            <br>
            <br>
            <p><b>Correo:</b> fernando_0970@outlook.es</p>
            <p><b>Teléfono:</b> 771 - 52 - 62 - 180</p>       
        </div>
    </div>
{% endblock %}

